body {
  margin: 0;
}

.sidebar {
  font-size: 1.35rem;
  width: 20%;
  height: 110vh;
  background-color: pink;
  float: left;
  position: fixed;

}

.sidebar * {
  margin: 0;
}

.title {
  text-align: left;
  font-size: 5rem;
  line-height: 5rem;
  margin: 0 0 0 0;
  padding-top: 1rem;
  padding-left: 2rem;
}

.underline{
  border-bottom: solid 5px red;
}

iframe {
  width: 400px;
  height: 220px;
  margin: 1.5rem 0 0 0;
}

.main {
  margin-left: 20%;
  float: left;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 80%;
}

.container {
  box-sizing: border-box;
  align-self: flex-start;
  width: 50%;
  //margin-top: 1rem;
  margin-bottom: 1rem;
}

quote {
  text-align: center;
}

.about {
  font-size: 2em;
  padding-left: 3rem;
  padding-right: 3rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

.pl > h3{
  //padding-left: 1.5rem;
  text-align: center;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

@media screen and (max-width: 550px) {
  html {
    widows: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .container {
    width: 100%;
    margin: 0;
    font-size: 16px;
  }
  .pl > h3 {
    font-size: 16px;
  }
  .title {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  .about {
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }
  iframe {
    width: 320px;
  }
}

@media screen and (max-width: 600px) and (orientation : landscape) {
.title {
  font-size: 3rem;
}
iframe {
  width: 240px;
}
}

@media screen and (min-width: 551px) and (max-width: 799px){
  .title {
    font-size: 4rem;
  }
  iframe {
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  .sidebar {
    display: none;
  }
  .main {
    width: 100%;
    margin-left: 0;
  }
  .about {
    width: 100%;
  }
  .title {
  font-size: 4rem;
  }
}
